<html>
<head><script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
 <link rel='stylesheet' href='https://codepedia.info/wp-content/themes/themevicky/css/editor.css' type='text/css' />
 </head>
 <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800%7CShadows+Into+Light" rel="stylesheet" type="text/css">

		<!-- Vendor CSS -->
		<link rel="stylesheet" href="vendor/bootstrap/css/bootstrap.min.css">
		<link rel="stylesheet" href="vendor/font-awesome/css/font-awesome.min.css">
		<link rel="stylesheet" href="vendor/animate/animate.min.css">
		<link rel="stylesheet" href="vendor/simple-line-icons/css/simple-line-icons.min.css">
		<link rel="stylesheet" href="vendor/owl.carousel/assets/owl.carousel.min.css">
		<link rel="stylesheet" href="vendor/owl.carousel/assets/owl.theme.default.min.css">
		<link rel="stylesheet" href="vendor/magnific-popup/magnific-popup.min.css">

		<!-- Theme CSS -->
		<link rel="stylesheet" href="css/theme.css">
		<link rel="stylesheet" href="css/theme-elements.css">
		<link rel="stylesheet" href="css/theme-blog.css">
		<link rel="stylesheet" href="css/theme-shop.css">

		<!-- Admin Extension Specific Page Vendor CSS -->
		<link rel="stylesheet" href="admin/assets/vendor/select2/css/select2.css" />
		<link rel="stylesheet" href="admin/assets/vendor/select2-bootstrap-theme/select2-bootstrap.css" />
		<link rel="stylesheet" href="admin/assets/vendor/jquery-datatables-bs3/assets/css/datatables.css" />

		<!-- Admin Extension CSS -->
		<link rel="stylesheet" href="admin/assets/stylesheets/theme-admin-extension.css">

		<!-- Admin Extension Skin CSS -->
		<link rel="stylesheet" href="admin/assets/stylesheets/skins/extension.css">

		<!-- Skin CSS -->
		<link rel="stylesheet" href="css/skins/default.css">

		<!-- Theme Custom CSS -->
		<link rel="stylesheet" href="css/custom.css">

		<!-- Head Libs -->
		<script src="vendor/modernizr/modernizr.min.js"></script>
 <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>

<script type="text/javascript" src="table_script.js"></script>
 <body  ng-app="myapp" ng-controller="tableController">
 <div class="container">
					<section class="panel panel-admin">
						<header class="panel-heading">
							<div class="panel-actions">
								<a href="#" class="panel-action panel-action-toggle" data-panel-toggle></a>
								<a href="#" class="panel-action panel-action-dismiss" data-panel-dismiss></a>
							</div>
					
							
						</header>
						<div class="panel-body">
							<div class="row">
								<div class="col-sm-6">
									<div class="mb-md">
										<h2 class="panel-title"><b> Details</b></h2>
									</div>
								</div>
							</div>

<div id="wrapper">
<table class="table table-bordered table-striped mb-none" id="datatable-editable">
   
            <thead><tr>
                    <th>Name</th>
                    <th>Gender</th>
                    <th>City </th>
					<th>Mobile Number</th>
					<th>Email</th>
					<th>Actions</th>
                    </tr></thead>
            <tbody>
                <tr id="row1" ng-repeat="em3 in customers">
                    <td id="name_row1"> {{ em3.Name }} </td>
                    <td id="name_row1"> {{em3.Gender }} </td>
                    <td id="name_row1">  {{em3.City }}</td>
					<td id="name_row1">  {{em3.mobilenumber }}</td>
					<td id="name_row1">  {{em3.email }}</td>
					<td>
<button id="edit_button1" class="btn btn-primary"onclick="edit_row('1')" value=""> <i class="fa fa-pencil"></i></button>
<button id="save_button1" class="btn btn-primary"onclick="save_row('1')" value=""><i class="fa fa-save"></i></button>
<button id="Delete" class="btn btn-primary"onclick="delete_row('1')" value=""><i class="fa fa-trash-o"></i></button>
</td>
                </tr>
            </tbody>
        </table>

<script type="text/javascript">

    var app = angular.module("myapp", []);
    app.controller("tableController", ['$scope', function ($scope) {

   $scope.customers = [
				{ 'Name': 'Satinder Singh', 'Gender': 'Male', 'City': 'Bombay' ,'mobilenumber':'12345678','email':'mail@123.com'},
				{ 'Name': 'Leslie Mac', 'Gender': 'Female', 'City': 'Queensland' ,'mobilenumber':'12345678','email':'mail@123.com'},
				{ 'Name': 'Andrea ely ', 'Gender': 'Female', 'City': 'Rio' ,'mobilenumber':'12345678','email':'mail@123.com'},
				{ 'Name': 'Amit Sarna', 'Gender': 'Male', 'City': 'Navi Mumbai','mobilenumber':'12345678','email':'mail@123.com' },
				{ 'Name': 'David Miller', 'Gender': 'Male', 'City': 'Scouthe','mobilenumber':'12345678','email':'mail@123.com'}
		     ];       
    }]);
    
</script>
 </body>
</html>